html {
	font-family: 'LindenHillRegular';
	font-weight: lighter;
	height: 100%;
	background: #CCC;
	background: linear-gradient(top, #CCC, #777);
	background: -webkit-linear-gradient(top, #CCC, #777);
	background: -moz-linear-gradient(top, #CCC, #777);
	background: -o-linear-gradient(top, #CCC, #777);
	background: -ms-linear-gradient(top, #CCC, #777);
}

h1, h2, h3 {
	font-weight: lighter;
	margin: 0;
	float: left;
}

h1 {
	margin-left: 20px;
	font-size: 2.5em;
}

h2 {
	margin-left: 10px;
	margin-top: 5px;
	font-size: 1.1em;
}

h3 {
	float: none;
	text-align: center;
	font-size: 3em;
}

a {
	text-decoration: none;
	color: #AAA;
	margin: 5px;
}

a:hover { 
	color: #888;
	cursor: pointer;
}

#header {
	margin-top: 0.5em;
	overflow: auto;
}

#menu {
	color: #777;
	font-weight: lighter;
	text-align: center;
	position: relative;
	top: -23px;
	height: 0;
}

#top_menu {
	height: 0;
	position: absolute;
	right: 30px;
	top: 8px;
}

#footer {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 8px;
}

#footer a {
	margin: 0;
	margin-left: 20px;
	float: right;
	color: #005;
}

#footer a:hover {
	color: #333;
}

canvas {
	display: block;
	cursor: crosshair;
}

#container {
	display: block;
	width: 960px; /* width of canvas is 900, width of border is 30 */
	margin-left: auto;
	margin-right: auto;
}

#view { 
	border: 30px solid #666;
	width: 900px;
	background: black;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#fb {
	display: inline;
	position: absolute;
}

#zoom_text {
	height: 0;
	width: 100%;
	text-align: center;
}

#share {
	display: none;
	position: absolute;
	top: 100px;
	width: 300px;
	height: 100px;
	margin-left: 280px;
	margin-right: 280px;
	padding: 20px;
	text-align: center;
	color: white;
	opacity: 0.8;
	background: black;
	border: 5px solid #AAA;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#share input[type='text'] {
	margin-top: 2em;
	width: 80%;
}

@media handheld, only screen and (max-width: 500px) {
	h1, h2 {
		float: none;
		margin-left: 20px;
	}
	h2 {
		margin-bottom: 1em;
	}
	#container {
		width: 320px;
	}
	#view {
		border-width: 10px;
		width: 300px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	#zoom_text {
		height: 1.5em;
	}
	#menu {
		color: #333;
		top: 0.3em;
		height: 1.5em;
	}
	#menu a {
		color: #333;
	}

	#top_menu {
		display: none;
	}
}

