html {
	font-family: 'LindenHillRegular';
	font-weight: lighter;
	height: 100%;
	background: #CCC;
	background: linear-gradient(top, #CCC, #777);
	background: -webkit-linear-gradient(top, #CCC, #777);
	background: -moz-linear-gradient(top, #CCC, #777);
	background: -o-linear-gradient(top, #CCC, #777);
	background: -ms-linear-gradient(top, #CCC, #777);
}

h1, h2, h3 {
	font-weight: lighter;
	margin: 0;
	float: left;
}

h1 {
	margin-left: 20px;
	font-size: 2.5em;
}

h2 {
	margin-left: 10px;
	margin-top: 5px;
	font-size: 1.1em;
}

h3 {
	float: none;
	text-align: center;
	font-size: 3em;
}

#header {
	margin-top: 0.5em;
	overflow: auto;
}

#footer {
	margin-left: 20px;
	margin-top: 8px;
}

canvas {
	display: block;
}

#container {
	display: block;
	width: 960px; /* width of canvas is 900, width of border is 30 */
	margin-left: auto;
	margin-right: auto;
}

#view { 
	border: 30px solid #666;
	width: 900px;
	border-radius: 20px;
	background: black;
}

#footer a {
	float: right;
}

a {
	margin-left: 20px;
	text-decoration: none;
	color: #005;
}

a:hover { 
	color: #333;
}

#fb {
	display: inline;
	position: absolute;
}

#zoom_text {
	height: 0;
	width: 100%;
	text-align: center;
}

@media handheld, only screen and (max-width: 500px) {
	h1, h2 {
		float: none;
		margin-left: 20px;
	}
	h2 {
		margin-bottom: 1em;
	}
	#container {
		width: 360px;
	}
	#view {
		width: 300px;
	}
	#zoom_text {
		height: 1.5em;
	}
}

